.gridbox {
    justify-content: center;
    display: grid;
    max-width: 1440px;
    width: 100%;
    gap: 65px 25px;
    grid-template-columns: repeat(auto-fill, 270px);
    margin: 2% 0;
    border-radius: 5px;
    z-index: 2;
    margin-top: 4rem;
    scrollbar-color: rgb(141, 40, 40) green;
    scrollbar-width: thin;
    min-width: 300px;
}
.gridboxs {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: center;
    height: 450px;
    width: 100%;
    max-width: 1080px;
    z-index: 2;
    scrollbar-color: rgb(141, 40, 40) green;
    scrollbar-width: thin;
    margin: 5rem 0;
}
.div1 , .div2 , .div3, .div4{
    overflow: hidden;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}
.div1{
    position: relative;
    width:100%;
    height: 450px;
    transition: 0.3s ease-out;
    grid-area: 1 / 1 / 4 / 3;
}
.div1 img {
    display: block;
    width: 100%;
    height: 450px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #19191988;
}
.div1:hover .overlay {
    opacity: 1;
}
.div1 .overlay h3{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 60px;
    left: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3.2px;
}
.div1 .overlay p{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
}




.div2 {
    position: relative;
    width: 100%;
    height: 150px;
    transition: 0.3s ease-out;
    grid-area: 1 / 1 / 4 / 3;
}

.div2 img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #19191988;
}

.div2:hover .overlay1 {
    opacity: 1;
}

.div2 .overlay1 h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 35px;
    left: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3.2px;
}

.div2 .overlay1 p {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-align: center;
}


.div3 {
    position: relative;
    width: 100%;
    height: 150px;
    transition: 0.3s ease-out;
    grid-area: 1 / 1 / 4 / 3;
}

.div3 img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #19191988;
}

.div3:hover .overlay2 {
    opacity: 1;
}

.div3 .overlay2 h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 35px;
    left: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3.2px;
}

.div3 .overlay2 p {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-align: center;
}




.div4 {
    position: relative;
    width: 100%;
    height: 250px;
    transition: 0.3s ease-out;
    grid-area: 1 / 1 / 4 / 3;
}

.div4 img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #19191988;
}

.div4:hover .overlay3 {
    opacity: 1;
}

.div4 .overlay3 h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 35px;
    left: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3.2px;
}

.div4 .overlay3 p {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-align: center;
}













.div2 {
    grid-area: 3 / 3 / 4 / 4;
}

.div3 {
    grid-area: 3 / 4 / 4 / 5;
}

.div4 {
    grid-area: 1 / 3 / 3 / 5;
}
.grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects {
    position: relative;
    overflow:  hidden;
    border-radius: 10px;
    cursor: pointer;
}
.projects h3 {
    position: absolute;
    bottom: 20PX;
    z-index: 99999;
    padding: 15px 10px;
    color: white;
    font-weight: 500;
}
.projects p {
    position: absolute;
    bottom: 0px;
    padding: 15px 10px;
    color: white;
    z-index: 20;
    
}
.ssss{
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}



@media only screen and (max-width: 800px) {
    .gridboxs {
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 100%;
        max-width: 1080px;
        z-index: 2;
        scrollbar-color: rgb(141, 40, 40) green;
        scrollbar-width: thin;
        /* min-width: 300px;     */
        padding: 0;
    }
    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
       
    }
    .div1  {
       height: 300px;
    }

    .div2  {
        height: 300px;
    }

    .div3  {
    height: 300px;
    }

    .div4  {
        height: 300px;
    }
    .div1  img{
       height: 300px;
    }

    .div2  img{
        height: 300px;
    }

    .div3  img{
    height: 300px;
    }

    .div4  img{
        height: 300px;
    }
}