.blog {
    height: 40vh;
    width: 100%;
    background: unset;
    margin-bottom: 5rem;
    
}
.blogFillters {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogBtns {
    width: 200px;
    padding: 15px 10px;
    margin: 0 20px;
}
.searchbardiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20rem;
    align-items: center;
    justify-content: center;
    background-image: url('../images/property.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15rem;
    z-index: 90;
}
.searchbar {
    display: flex;
    max-width: 300px;
    width: 90%;
    /* height: 60px; */
    font-size: 20px;
    /* padding: 0px 60px 0px 60px; */
    outline: none;
    border-radius: 7px;
    z-index: 10;
    /* margin: 0 20px; */
    text-align: center;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.selectt {
    /* z-index: 100; */
    padding:0.8rem 1.2rem;
    border: solid 1px #9b9b9b ;
    margin: 0 3px;
    border-radius: 4px;
}

select{
    /* margin: 0 -8px;
    /* padding: 0 25px; */
    border: none;
    /* border-radius: 8px; */
    outline: none;
    font-size: 18px;
}

.sleft {
    border-radius: 10px;
}


.searchbardiv::after {
    content: '';
    position: absolute;
    background-color: rgba(28, 4, 4, 0.414);
    width: 100vw;
    height: 20rem;
}

.text {
    padding: 0 25px;
    margin: 30px 0; 
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.category {
    display: flex;
    justify-content: space-between;
}
.buttonpr {
    border: #bbb8bd solid 0.8px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category {
    padding: 0 30px;
}

 .category span {
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    border-radius: 5px;
}
 .category i {
    font-size: 20px;
    color: #bec7d8;
}
 .text {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 80px; */
}
 p {
    color: #212b36;
}
.flexs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex .div button {
    border-radius: 0px;
}

.alls {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 720px;
    height: 135px;

}
.allselect {
    display: flex;
}

.sdsd {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
}
.typeseller {
    display: none;
}

.selectType {
    border: #bbb8bd solid 0.8px ;
    padding: 6px 14px;
    border-radius: 4px;
    margin: 15px 8px 15px 8px;
}